.c-modal {
  display: flex;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: hsl(0, 0%, 5%);
  overflow: auto;
  justify-content: center;
  align-items: center;
  font-family: 'Colfax,sans-serif', sans-serif; 

}

.c-modal-content {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
  align-content: center;
  padding: 20px; 
}

form {
  align-self: start;
}

  .form-group-name {
    width: 50%;
  }

  .form-group-message {
    margin-top: 50px;
  }

  .message-input {
    width: 500px;
    height: 150px;
    border: 0px;
    border-bottom: 1px solid rgb(120, 120, 120);
    resize: none;
    outline: none;
    background-color: transparent;
    font-family: 'Colfax,sans-serif', sans-serif; 
    color: white;
  }
  

  .contact-text {
    font-family: "Arial", sans-serif;
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: left;
    align-self: flex-start;
    color: white;
  }
  
  .send-button {
    background-color: #ffffff;
  color: rgb(6, 6, 6);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 50px;
  transition: background-color 0.3s ease; 
  }
  
  .send-button:hover {
    background-color: #bbbbbb;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);

  }
  
  .back-button {
    background: none;
    border: none;
    color: #ffffff; /* Change the color as desired */
    font-size: 40px;
    cursor: pointer;
    position: absolute;
    top: 80px;
    left: 40px;
  }

  .back-button:hover {
    color: #9c9c9c;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  /* Styles for the error message */
.error-message {
  color: red; /* Change the color to your preference */
  font-size: 14px; /* Adjust the font size */
  margin-top: 10px; /* Add spacing to separate from the form */
}

/* Styles for the success message */
.success-message {
  color: green; /* Change the color to your preference */
  font-size: 14px; /* Adjust the font size */
  margin-top: 10px; /* Add spacing to separate from the form */
}

  @media (max-width: 767px) {
    .form-group-name {
      width: 400px; 
    }
    
    .message-input {
      width: 400px 
    }
    
    .back-button {
      position: absolute;
      top: 20px; /* Adjust top position for mobile view */
      left: 20px; /* Adjust left position for mobile view */
      font-size: 20px;
    }
  }
