.menu {
    list-style-type: none;
    padding: 0;
    margin-top: 50px; /* Adjust as needed for spacing below Developer + Designer */
    z-index: 1999;
}

.menu li {
    margin: 5px 0; /* Adjust as needed for spacing between items */
    font-size: 14px; /* Adjust as needed */
    font-weight: bold;
    text-align: left;
    margin-top: 10px;
    cursor: pointer;
}

.menu li a {
    text-decoration: none; 
    color: white;         
}

.menu li a:hover {
    color: rgb(210, 210, 210);          
}
