/* HomeContent.css */

.home-content-text {
    position: absolute;
    bottom: 20px;     /* Adjust to set distance from bottom */
    right: 20px;      /* Adjust to set distance from right */
    font-size: 15px;  /* Adjust font size as desired */
    width: 140px;
    text-align: left;
    margin: 20px
}
