.projects-container {
  position: relative;
  width: 100vw;
  height: 500vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: background 0.5s ease; 
  /* background-color: var(--background-color); */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}



.proj-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.proj-container img {
  height: auto;
  transition: opacity 0.5s, visibility 0.5s;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 400vh;
  padding: 20px;
  /* background-color:  hsl(0, 0%, 5%);; */
  color: white
}

/* Default styles for both mobile and web/tablet views */
.content-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 400vh;
  padding: 20px;
}

/* Styles for mobile view */
.content-column.mobile-view {
  
  margin-top: 0; /* Adjust the margin or spacing for mobile view */
}

/* Styles for web/tablet view */
.content-column.web-view {
  /* Add styles for web/tablet view here */
  margin-top: 150px; /* Adjust the margin or spacing for web/tablet view */
  text-align: left;
  min-height: 70vh; /* Set the minimum height for content in web/tablet view */
}

.content-wrapper .proj-content,
.content-wrapper .gif-container {
  width: 70%;
}

.content-wrapper .proj-content,
.content-wrapper .gif-container img {
  align-self: center;
}


.top-content {
  min-height: 70vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease-in-out; /* Smoothens opacity transition */
  margin-top: 150px;
  text-align: left;
}


.top-content h1 {
  font-size: 3rem;
  font-weight: 500;
}

.arrow-icon {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
  transition: opacity 0.5s, visibility 0.5s; 
}
  
.left-icon {
  left: 10px;
}
  
.right-icon {
  right: 10px;
}

.indicators {
  display: flex;
  gap: 10px;
  z-index: 1;
}

  
.indicator {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: lightgrey;
  cursor: pointer;
  transition: background-color 0.3s ease;
  transition: opacity 0.5s ease-in-out; /* Smoothens opacity transition */
}
  
.indicator.active {
  background-color: rgb(0, 174, 255);
}
  
h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}
  
p {
  font-size: 1.2em;
  margin-bottom: 1em;
}

.gif-container {
  /* flex: 1; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 20px;
  transition: opacity 0.5s ease-in-out; /* Smoothens opacity transition */

}

.gif-container img {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2); /* This adds a bottom shadow */
}

@media screen and (max-width: 768px) {
  .proj-container {
    width: 170%; /* Set the width to 50% for phone screens */
  }

  .gif-container {
    align-items: center;
    justify-content: center;
  }

  .gif-container img {
    width: 100%;
    height: 100%;
    
  }

  
}