.about-view {
    padding: 20px;
  }
  
  .project-container {
    min-height: 100vh; /* Ensuring each project takes at least the full height of the viewport */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center the content */
    align-items: center; /* Horizontally center the content */
    opacity: 0.5;
    transform: translateY(20px);
    transition: all 0.5s ease-in-out;
  }
  
  .project-container.active {
    opacity: 1;
    transform: translateY(0);
  }
  
  .project-title,
  .project-content {
    width: 80%; /* Adjusting width */
    text-align: center;
    margin-bottom: 20px;
  }
  
  .project-content {
    display: none;
  }
  
  .project-container.active .project-content {
    display: block;
  }
  