/* Terminal.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');


.terminal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    /* background-color: hsl(0, 0%, 5%); */
    /* color: #fff; */
    font-family: 'Raleway', sans-serif, monospace;
    overflow: hidden;
    position: fixed;
    width: 100vw;
  }

  
  /* 
  *
  *  DARK THEME STYLES
  *
  *
  */



.terminal-container.dark {
  background-color: hsl(0, 0%, 5%);
  color: #fff;
}

.terminal-container.dark .command, .terminal-container.dark .terminal-input, .terminal-container.dark .command-prompt-symbol {
  color: #D5661C;
}

.terminal-container.dark .output-text {
  color: #fff;
}

.terminal-container.dark .switch-view-button {
  background-color: #2F190F;
  color: #D5661C; 
}

.terminal-container.dark .switch-view-button-text {
  color: #D5661C;
}

.terminal-container.dark .switch-view-button:hover {
  background-color: #D5661C;
  color: #2F190F;
}

.terminal-container.dark .switch-view-button:hover .switch-view-button-text {
  color: #2F190F; 
}


 /* 
  *
  *  LIGHT THEME STYLES
  *
  *
  */

.terminal-container.light {
  background-color: #fff; 
  color: #000;
}

.terminal-container.light .command, .terminal-container.light .terminal-input, .terminal-container.light .command-prompt-symbol  {
  color: #0056b3; 
}

.terminal-container.light .output-text {
  color: black; 
}

.terminal-container.light .switch-view-button {
  background-color: #fff; 
  color: #0056b3;
  border: 2px solid #0056b3; 
}

.terminal-container.light .switch-view-button-text {
  color: #0056b3;
}

.terminal-container.light .switch-view-button:hover {
  background-color: #0056b3;
  color: #fff;
}

.terminal-container.light .switch-view-button:hover .switch-view-button-text {
  color: #fff; 
}

 /* 
  *
  *  MATRIX THEME STYLES
  *
  *
  */
.terminal-container.matrix {
  background-color: black; 
  color: #0F0; 
}

.terminal-container.matrix .command, 
.terminal-container.matrix .terminal-input,
.terminal-container.matrix .output-text,
.terminal-container.matrix .command-prompt-symbol {
  color: #0F0; 
}

.terminal-container.matrix .switch-view-button {
  background-color: #0F0;
  color: black; 
}

.terminal-container.matrix .switch-view-button-text {
  color: black;
}

.terminal-container.matrix .switch-view-button:hover {
  background-color: black;
  color: #0F0;
}

.terminal-container.matrix .switch-view-button:hover .switch-view-button-text {
  color: #0F0; 
}

    
  .switch-view-button {
    position: absolute;
    top: 10px; 
    right: 10px; 
    padding: 15px;
    background-color: #2F190F;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .terminal {
    background-color: transparent;
    display: flex;
    padding: 20px;
    width: 800px;
    height: 500px; 
    border-radius: 15px;
    border: 2px solid #454545;
    overflow: auto;
    flex-direction: column;
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-family: 'Raleway', sans-serif, monospace; */
    /* font-family: 'Roboto Mono', monospace; */
  }

  .terminal-header {
    text-align: left;
    position: relative;
    bottom: 35px;
    font-weight: 100;
    font-size: 2.5rem;
    height: 10px;
  }
  
  .input-line {
    width: 100%;
    display: flex;
    text-align: left;
    margin-top: 5px;
  }

  .input-line, .command-prompt, .command, .output-text, .terminal-input {
    font-size: 16px;
  }
  
  .terminal-input {
    background: none;
    border: none;
    color: #D5661C;
    outline: none;
    text-align: left;
    width: 100%;
    font-family: 'Raleway', sans-serif, monospace;

  }
 
  .command-prompt {
    width: 105px;
    align-self: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
  }

  .command {
    color: #D5661C;
  }

  .help-commands div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
  }
  
  .command-name {
    margin-right: 10px; /* Adjust as needed for spacing */
  }


  .output {
    flex-direction: column; 
    overflow: auto; 
    text-align: left;
  }

  .output p {
    margin-top: 1.5px;
    margin-bottom: 1.5px;
  }

  
  
  footer {
    font-size: 12px;
    gap: 2px;
    line-height: 20px;
  }
  
  .terminal-footer {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 20px 0;
    color: #454545;
  }
  
  
  @keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
  }
  
  .confetti-fade-out {
    animation: fadeOut 2s ease-in-out forwards;
  }

  @media (max-width: 800px) {
    .terminal-container {
      padding: 10px;
      width: 100vw;
      overflow: visible;
    }
  
    .terminal {
      width: 90%; /* Full width on small screens */
      height: 70vh; /* Auto-adjust height */
      padding: 10px;
      border-radius: 0px;
      border: 0px;
    }
  
    .terminal-wrapper {
      width: 100%; /* Full width on small screens */
    }

    .command-prompt {
        width: 120px;
    }
  
    .switch-view-button {
        position: absolute;
      top: 5px;
      right: 25px;
      padding: 10px;
    }
  
    .switch-view-button-text {
      font-size: 12px; /* Smaller font size for mobile */
    }
  
    .terminal-header {
      font-size: 2rem; /* Smaller header for mobile */
      position: relative;
    bottom: 25px;
    font-weight: 200;
    height: 20px;
    }

  
    .input-line, .command-prompt, .command, .output-text {
      font-size: 16px; /* Smaller font size for mobile */
    }
  
    .terminal-input {
        font-size: 16px;
    }
  
    .terminal-footer {
      font-size: 7px; /* Smaller footer text for mobile */
    }
    }