.project-card {
  width: 90vw;
  height: 50vh;
  margin: 40px auto;
  cursor: pointer;
}

.project-card-content {
  padding: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.675);
  z-index: 999;
}

.technology-item {
  background-color: rgba(82, 81, 81, 0.578);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  font-size: .7rem;
}

.modal-container.entering {
  transform: translateX(0%);
}

.modal-container.exiting {
  transform: translateX(100%);
}

.modal-container.entering, .modal-container.exiting {
  transition: all .5s ease-in-out;
}
