

.home-content.active {
    opacity: 1;
    transition: opacity 1s;
}

.hidden {
    opacity: 0;
    transition: none;
}

.home-content {
    z-index: 11; 
}

.border-frame__top-left {
    position: absolute;
    top: 40px; 
    left: 60px; 
     
    /* line-height: 1.4; */
    color: white; 
}

/* Media query for phone view */
@media (max-width: 767px) {
    .border-frame {
        margin: 18px; 
       
    }
    
    .border-frame__top-left {
        top: 10px;   /* Adjust top to 5px for phone view */
        left: 15px;  /* Adjust left to 5px for phone view */
    }
}


/* Animation Definitions */
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  
  /* Define other animations, delays as needed */
  .fade-in-delay-1 {
    animation-delay: 1s; /* Adjust delay as needed */
  }
  
  .fade-in-delay-2 {
    animation-delay: 2s; /* Adjust delay as needed */
  }
  
  .fade-in-delay-3 {
    animation-delay: 3s; /* Adjust delay as needed */
  }
  